* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}

body {
display:flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
padding: 0;
margin: 0;
}

.container {
    width: 600px;
    max-width: 80%;
}

#question{
    font-size:40px;
    margin:20px;
}
.btn-grid{
    display:grid;
}

.btn {
    width: 300px;
    background-color: rebeccapurple;
    color: white;
    border-color: rebeccapurple;
    border-radius: 20px;
    height: 41px;
    margin:5px;
}

.btn:hover {
    border-color: lightcoral;
}

.hide{
    display:none;
}
